.contCard {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  margin: 0 auto;
  margin: 20px;
  background: rgb(248, 248, 248);
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px 0px #a3a2a2;
}
.divBtn {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.btnCard {
  background: #ffffff;
  margin: 4px;
  font-size: 12px;
  width: 120px;
  height: 35px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px #a3a2a2;
}
.imgCard {
  width: 100%;
  padding: 10px;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.txtIntro {
  font-size: 12px;
  text-align: center;
}
