.sectCarrito {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.carritoTitle {
  font-size: 25px;
}

.nombreElemento {
  font-size: 18px;
  font-weight: 600;
}
.btnEliminar {
  background: #ffffff;
  margin: 4px;
  font-size: 12px;
  width: 120px;
  height: 35px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px #a3a2a2;
}
