.sectCarrito {
  width: 100%;
  min-height: 100vh; /* Cambiar height a min-height para mejor manejo del contenido */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos en la parte superior */
  flex-direction: column;
  padding: 20px;
  margin-top: 80px;
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
}
.carritoTitle {
  font-size: 28px; /* Aumenta un poco el tamaño del texto */
  font-weight: bold; /* Aumenta el peso para destacarlo */
  margin-bottom: 20px; /* Añade espacio debajo del título */
}

.nombreElemento {
  font-size: 18px;
  font-weight: 600;
}
.contElementos {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px; /* Espacio superior para separar del título */
}

.btnEliminar {
  background: #ffffff;
  margin: 4px;
  font-size: 12px;
  width: 100px;
  height: 35px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px #a3a2a2;
  cursor: pointer; /* Añade un cursor pointer para indicar que es clickeable */
  border: none; /* Elimina el borde predeterminado */
}
.totalCarrito {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Añade espacio superior para separar de los elementos del carrito */
}
.divElemento {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px; /* Añade espacio debajo de cada elemento */
}
.ulCarrito {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.liCarrito {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px #a3a2a2;
}
.groupTxtElemento {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
}
.nombreElemento {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.precioElemento {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .sectCarrito {
    padding: 10px;
  }

  .totalCarrito {
    margin-top: 20px; /* Añade espacio superior para separar del contenido del carrito */
    display: flex;
    justify-content: flex-end; /* Alinea el contenido al final del contenedor */
  }

  .btnEliminar {
    position: relative; /* Usa posición relativa para situar el botón */
    margin: 0px; /* Ajusta el margen para colocar el botón en la esquina inferior derecha */
  }

  .liCarrito {
    width: 100%;
    margin: 0;
    justify-content: space-around;
    flex-direction: column; /* Ajusta la dirección de los elementos del carrito para pantallas pequeñas */
    align-items: center; /* Alinea los elementos a la izquierda */
  }

  .groupTxtElemento {
    width: 50%; /* Asegura que el grupo de textos ocupe el 100% del ancho */
  }

  .nombreElemento,
  .precioElemento {
    width: 100%; /* Ajusta el ancho para mejor distribución en pantallas pequeñas */
  }
}
