.navbar {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
}

.navUl {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background: #edeef8;
  position: absolute;
}
.contPaginas {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.contMiCuenta {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  align-items: center;
}
.elementoNav {
  list-style-type: none;
  padding-left: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.textNav {
  color: #f58172;
}
.divIconCarrito {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #fde4ae;
  border-radius: 33px;
}
.iconCarrito {
  display: flex;
  width: 70%;
  margin: 0 auto;
  aspect-ratio: 1/1;
}
.divQProductos {
  width: 20px;
  height: 20px;
  border-radius: 33px;
  background: black;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 25px;
  margin-left: 25px;
}
.txtNCarrito {
  margin: 0 auto;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #edeef8;
}
