.main {
  width: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px auto 0 auto; /* Ajusté el margen superior y central */
  margin: 0 auto;
  flex-wrap: wrap;
}
.encabezado {
  width: 100%;
  height: auto; /* Cambié altura fija a auto */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 90px;
  padding-left: 100px;
  flex-wrap: wrap;
}
.divDescrip {
  width: 100%;
  height: auto; /* Cambié altura fija a auto para que se ajuste al contenido */
  margin: 0px;
  padding: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
}
.divTxt {
  width: 100%; /* Cambié a 100% para que ocupe todo el ancho disponible */
  height: auto; /* Cambié altura fija a auto */
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 300;
}
.divImg {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.imgHome {
  aspect-ratio: 1/1;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
}
.divTitulo {
  width: 50%;
  height: auto; /* Cambié altura fija a auto */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  margin-left: 50px;
  flex-wrap: wrap;
}
.titulo {
  width: 100%;
  font-family: "nougat-script", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
  color: #5c72e1;
  margin: 0px;
  padding: 0px;
}
.subtitulo {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(80, 80, 80);
}
/* Media Queries para responsive design */
@media (max-width: 1200px) {
  .divTxt {
    font-size: 16px;
  }

  .titulo {
    font-size: 60px;
  }

  .subtitulo {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .encabezado {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin-top: 60px;
  }

  .divImg {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
  }

  .imgHome {
    width: 70%; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de aspecto */
  }

  .divTitulo {
    width: 100%;
    align-items: center;
    margin-left: 0;
    text-align: center;
    padding: 20px; /* Añade un poco de relleno para mejorar la apariencia */
  }

  .divDescrip {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .divTxt {
    font-size: 14px;
  }

  .titulo {
    font-size: 40px;
  }

  .subtitulo {
    font-size: 20px;
  }

  .divImg {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
  }

  .imgHome {
    width: 80%; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de aspecto */
  }
}
