.main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
}
.bannerSomos {
  width: 100%;
  height: 300px;
  background: #fae6ad;
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
  position: relative; /* Para posicionar correctamente la imagen */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 50px;
  z-index: 1; /* Un z-index menor que el nav */
}
.banner {
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  object-position: center; /* Ajusta esto para mover la imagen */
}
.secTit {
  margin-left: 50px;
  color: whitesmoke;
  z-index: 2; /* Asegura que el título esté sobre la imagen */
}
.tit {
  font-size: 50px;
  text-shadow: 1px 1px 2px rgba(136, 136, 136, 0.5);
}
.parrafos,
.parrafoEImg {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 300;
}
.secSubtit {
  width: 100%;
  height: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-top: 60px;
  color: rgb(64, 64, 64);
}
.contParEImg {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.imgMision {
  width: 300px;
  max-width: 80%;
  height: auto;
  margin-left: 70px;
}
.parrafoEImg {
  width: 60%;
}
/* Media Queries */
@media (max-width: 1024px) {
  .bannerSomos {
    height: 250px;
  }
  .tit {
    font-size: 40px;
  }
  .parrafos,
  .parrafoEImg {
    font-size: 16px;
  }
  .parrafoEImg {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .bannerSomos {
    height: 200px;
  }
  .tit {
    font-size: 30px;
  }
  .parrafos,
  .parrafoEImg {
    font-size: 14px;
  }
  .contParEImg {
    flex-direction: column;
    align-items: flex-start;
  }
  .parrafoEImg {
    width: 100%;
    margin-bottom: 20px;
  }
  .imgMision {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .bannerSomos {
    height: 150px;
  }
  .tit {
    font-size: 24px;
  }
  .parrafos,
  .parrafoEImg {
    font-size: 12px;
  }
  .secSubtit {
    height: auto;
    margin-top: 30px;
  }
  .imgMision {
    width: 50%;
    height: auto;
  }
}
